<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Telegram Drive{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="app-container">
        {% include "components/navbar.html" %}
        <div class="main-wrapper">
            {% include "components/sidebar.html" %}
            <main class="main-content">
                {% include "components/alert.html" %}
                {% block content %}{% endblock %}
            </main>
        </div>
        {% include "components/footer.html" %}
    </div>

    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/app.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>